<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.howett.android.peace"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:label="Peace">
	    <meta-data android:name="com.saurik.substrate.main" android:value=".Main" />
    </application>
    <uses-permission android:name="cydia.permission.SUBSTRATE"/>
</manifest>
